<footer style="background-color: #08385a;" class="pb-3">
    <div class="container">
        <div class="row text-center pt-4">
            <div class="col-md">
                <a href="/about" class="text-white nav-link">
                    <h4>ABOUT</h4>
                </a>
            </div>
            <div class="col-md">
                <a href="#!" class="text-white nav-link">
                    <h4>CONTACT</h4>
                </a>
            </div>
            <div class="col-md">
                <a href="/auth/register" class="text-white nav-link">
                    <h4>SIGNUP</h4>
                </a>
            </div>
            <div class="col-md">
                <a href="#!" class="text-white nav-link">
                    <h4>PRIVACY</h4>
                </a>
            </div>
        </div>

        <hr style="color: white">
        
        <div class="row">
            <div class="col-md text-white">
                <h5>YourProperties</h5>
                <p class="lead">
                   User experience website that puts the control 
                   in the buyer's and seller's hands. 
                </p>
            </div>
            <div class="col-md text-center">
                <h4 class="text-white">Links</h4>
                <ul>
                    <li class="footer-item">
                        <a href="#!" class="text-white nav-link">
                            Link
                        </a>
                    </li>
                    <li class="footer-item">
                        <a href="#!" class="text-white nav-link">
                            Link
                        </a>
                    </li>
                    <li class="footer-item">
                        <a href="#!" class="text-white nav-link">
                            Link
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md text-center">
                <h4 class="text-white">Links</h4>
                <ul>
                    <li class="footer-item">
                        <a href="#!" class="text-white nav-link">
                            Link
                        </a>
                    </li>
                    <li class="footer-item">
                        <a href="#!" class="text-white nav-link">
                            Link
                        </a>
                    </li>
                    <li class="footer-item">
                        <a href="#!" class="text-white nav-link">
                            Link
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md text-center">
                <h4 class="text-white">Links</h4>
                <ul>
                    <li class="footer-item">
                        <a href="#!" class="text-white nav-link">
                            Link
                        </a>
                    </li>
                    <li class="footer-item">
                        <a href="#!" class="text-white nav-link">
                            Link
                        </a>
                    </li>
                    <li class="footer-item">
                        <a href="#!" class="text-white nav-link">
                            Link
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <hr style="color: white">

        <p class="text-white text-center lead">
           @COPYRIGHT: 2022, www.your-properties.org
        </p>

    </div>
</footer>