<!doctype html>
<html lang="en">
  <%- include('layouts/header') -%>
  <body>
    <!-- navbar -->
    <%- include('layouts/navBar') -%>
    <!-- navbar -->

    <div class="container p-5">
        <h1 class="display-3">About Us</h1>
        <p class="lead mt-5">
          Here you can list your home for sale, without using a realtor or paying 
          their listing fees. Once you connect with a potential buyer, it is just 
          and them. Making the process smoother and more communication between both 
          parties. If you see a property for sale that isn't listed here that you want, 
          then show the seller this site to get them registered and list their property.
          <br><br>
          The idea came when I seen people wanting to sell and buy homes without having 
          to go through hoops and many people in the middle. Buy eliminating as much as 
          possible, it actually saves you money and puts you in control. You control the 
          experience and the process. There is no fee for joining or listing your home, 
          absolutley free. Seriously, no catch.
        </p>
    </div>

    <%- include('layouts/footer') -%>
    <%- include('layouts/scripts') -%>
    
  </body>
</html>